# Ignore Visual Studio Code settings folder
/.vscode/

# Ignore the Flask environment folder
/CareEnv/

# Ignore the config folder inside the website directory
/website/config/

# Ignore the cache folder inside the website directory
/website/__pycache__

#Ignore the flask session folder
/flask_session/

#Ignore medical report graph images
/website/static/images/bp_image.png
/website/static/images/glucose_image.png