{% extends "base.html"%} {% block title %}Dashboard{% endblock %} {% block subtitle %} {{resident.get_full_name()}}
Medication List {%
endblock
%}

{% block content %}

<div class="text-center">
    <a href="/generate-medication-list">Go to Medication List</a>
</div>

<div class="container-fluid">
    {% for medication in medication_list %}
    <div class="container mt-5">
        <form method="post">
            <input type="hidden" name="medication_id" value="{{ medication.id }}">
            <a href="#" onclick="this.parentNode.submit(); return false;">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <p>{{ medication.name }}</p>
                </div>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}