{% extends "base.html"%}
{% block title %}Dashboard{% endblock %}
{% block subtitle %} {{resident.get_full_name()}} Medication List {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        {% for medication in medication_list %}
        <div class="col-md-4">
            <form method="post">
                <input type="hidden" name="medication_id" value="{{ medication.id }}">
                <div class="card mx-auto my-4"
                    style="max-width: 18rem; {% if medication.priority == 0 %}border: 3px solid red;{% else %}border: 2px solid gray;{% endif %}">
                    <div class="card-body text-center p-0">
                        <h5 class="card-title bg-dark text-white p-2 mb-2">
                            <a class="text-white" href="#" onclick="submitForm(this); return false;">
                                {{ medication.name }}
                            </a>
                        </h5>
                        {% if medication.priority == 0 %}
                        <p class="card-text mb-2 text-danger font-weight-bold">CRITICAL PRIORITY</p>
                        {% elif medication.priority == 1 %}
                        <p class="card-text mb-2" style="color: #e07c5d; font-weight: bold;">HIGH PRIORITY</p>
                        {% elif medication.priority == 2 %}
                        <p class="card-text mb-2 text-primary font-weight-bold">MEDIUM PRIORITY</p>
                        {% elif medication.priority == 3 %}
                        <p class="card-text mb-2 text-success font-weight-bold">LOW PRIORITY</p>
                        {% else %}
                        <p class="card-text mb-2 text-muted font-weight-bold">FINISHED</p>
                        {% endif %}


                        <p class="card-text mb-2">
                            Pill Quantity: {{medication.medication_taken()}}/
                            {% if medication.pill_quantity < medication.medication_taken() %} {{medication.pill_quantity
                                + medication.pill_quantity}} {% else %} {{medication.pill_quantity}} {% endif %} </p>

                                <p class="card-text mb-2">Start Date: {{ medication.start_date.date() }}</p>
                                <p class="card-text mb-2">Diagnosis: <br>
                                    {% for diagnosis in medication.get_diagnosis_list() | map(attribute='name') | unique
                                    %}
                                    {{ diagnosis }}
                                    {% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                                <p class="card-text mb-2">
                                    Refill Quantity: {{ medication.amount_refill() }}/{{medication.refill_quantity}}
                                    {% if medication.refill_quantity != medication.amount_refill() and
                                    medication.refill_quantity != 0 and medication.medication_taken() <=
                                        medication.pill_quantity*0.2 %} <span style="color: red; opacity: 1;"
                                        data-toggle="tooltip" data-placement="top"
                                        title="Medication is close to finishing. Please refill soon;">
                                        &#9888;</span>
                                        {% else %}
                                        <span style="opacity: 0.2;" data-toggle="tooltip"
                                            data-placement="top">&#9888;</span>
                                        {% endif %}
                                </p>
                                <p class="card-text mb-2">Time to Next Dose: <br>{{ medication.time_until_next_dose() }}
                                </p>

                                <hr>
                                {% if user.role == "Nurse" %}
                                {% if medication.medication_taken() > 0 %}
                                <button type="button" class="btn btn-success mb-3 rounded"
                                    onclick="administerMedication({{ medication.id }})">
                                    Administer Medication
                                </button>
                                {% else %}
                                <button type="button" class="btn btn-success mb-3 rounded" disabled
                                    style="opacity: 0.5;">
                                    Administer Medication
                                </button>
                                {% endif %}
                                {% endif %}

                                {% if medication.refill_quantity != medication.amount_refill() and
                                medication.medication_taken()
                                <= medication.pill_quantity*0.2 %} <button type="button"
                                    class="btn btn-warning mb-3 rounded"
                                    onclick="refillMedication({{ medication.id }})">Refill Medication</button>
                                    {% endif %}
                    </div>
                </div>
            </form>
        </div>
        {% endfor %}
    </div>

    <div class="modal fade" id="customPopupModal" tabindex="-1" role="dialog" aria-labelledby="popupModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content custom-modal">
                <!-- Apply the custom CSS class here -->
                <div class="modal-header">
                    <h5 class="modal-title" id="popupModalLabel">Please Contact Medical Professional!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="customAlertMessage"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add the following CSS and JavaScript to your existing code -->
<style>
    .tooltip-inner {
        max-width: 200px;
        /* Adjust the maximum width as needed */
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Include jQuery -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Include Bootstrap JS -->
<script>
    function administerMedication(medicationId) {
        // Perform an AJAX request to trigger a Flask method
        $.ajax({
            url: '/administer-medication',
            type: 'POST',
            data: {
                action: 'administer_medication',
                medication_id: medicationId
            },
            success: function (response) {
                // Handle the response if needed
                console.log(response);
                location.reload()
            },
            error: function (error) {
                // Handle errors if needed
                console.error(error);
            }
        });
    }

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    function submitForm(anchorElement) {
        var form = anchorElement.closest('form');
        form.submit();
    }

    // Function to show a custom alert pop-up
    function showCustomAlert(message) {
        $('#customAlertMessage').html(message);
        $('#customPopupModal').modal('show');
    }

    // Function to handle the refill button click
    function refillMedication(medicationId) {
        // Perform an AJAX request to trigger a Flask method
        $.ajax({
            url: '/refill-medication',
            type: 'POST',
            data: {
                action: 'refill_medication',
                medication_id: medicationId
            },
            success: function (response) {
                // Handle the response if needed
                console.log(response);
                location.reload()
            },
            error: function (error) {
                // Handle errors if needed
                console.error(error);
            }
        });
        console.log("Refill Medication clicked for Medication ID:", medicationId);
    }

    // Check your conditions and trigger the pop-up
    {% if resident.conduct_periodic_wellness_checks() != 0 and(temp_check or weight_check or systolic_bp_check or diastolic_bp_check or heart_rate_check or glucose_check) %}
    var alertMessages = [];
    alertMessages.push("Anomaly detected with ");

    {% if temp_check %}
    alertMessages.push("Temperature");
    {% if weight_check or systolic_bp_check or diastolic_bp_check or heart_rate_check or glucose_check %}
    alertMessages.push(", ");
    {% endif %}
    {% endif %}

    {% if weight_check %}
    alertMessages.push("BMI");
    {% if systolic_bp_check or diastolic_bp_check or heart_rate_check or glucose_check %}
    alertMessages.push(", ");
    {% endif %}
    {% endif %}

    {% if systolic_bp_check or diastolic_bp_check %}
    alertMessages.push("Blood Pressure");
    {% if heart_rate_check or glucose_check %}
    alertMessages.push(", ");
    {% endif %}
    {% endif %}

    {% if heart_rate_check %}
    alertMessages.push("Heart Rate");
    {% if glucose_check %}
    alertMessages.push(", ");
    {% endif %}
    {% endif %}

    {% if glucose_check %}
    alertMessages.push("Glucose");
    {% endif %}

    alertMessages.push(" patterns for this patient have been detected. Wellness Checks have been incremented and are now required until values return to baseline. <br> Remaining Wellness Checks for today: {{ resident.conduct_periodic_wellness_checks() }}");

    var combinedMessage = alertMessages.join("");
    showCustomAlert(combinedMessage);
    {% endif %}
</script>
{% endblock %}