.title-banner {
    background-color: #003366;
    border-bottom: 5px solid #C00000;

}

.title {
    color: #FFEE99;
    font-size: 58.6px;
}


.motto {
    color: #FFFFFF;
    font-size: 17px;
}

.subtitle {
    background-color: #CCCCCC;
    display: flex;
    align-items: center;
}

.graph-container {
    display: inline-block;
    width: 100%;
    /* Adjust the width as needed */
    margin: 10px;
    /* Add margin for spacing */
}

.plotly-graph {
    width: 100%;
    /* Allow graphs to adapt to container width */
}

.profile_picture {
    max-width: 5%;
}

.profile-and-info {
    display: flex;
    align-items: center;
}

.profile_info {
    margin-left: 10px;
}

/* Center the form vertically and horizontally */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-login {
    max-width: 20%;
    max-height: 20%;
    padding-top: 15px;
}

.custom-card {
    width: 400px;
    border: 1px solid #CCCCCC;
    /* Adjust the width as needed */
}

.rounded-slightly {
    border-radius: 5px;
    /* Adjust the radius to make edges rounder */
    border: 1px solid black;
}

.btn-custom {
    background-color: #88CC99;
    /* Custom button color */
    color: #333333;
    /* Text color */
    font-size: 25px;
    /* Custom font size */
    font-weight: bolder;

    border-radius: 10px;

    border: 1px solid #88CC99;
}

/* Custom CSS for the flyout effect */
.flyout-modal {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    /* Background overlay color */
}

.modal-dialog-flyout {
    max-width: 300px;
    /* Adjust this value to control the width of the flyout */
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.flyout-modal.show .modal-dialog-flyout {
    transform: translateX(0);
}

.custom-modal {
    border: 2px solid red;
    border-radius: 10px;
    /* Optional: Add rounded corners */
}

.red-icon {
    color: red;
    margin-right: 5px;
    /* Adjust the margin as needed */
}